.box {
  border: 1px solid rgba(7, 118, 181, 0.5);
  box-shadow: inset 0 0 10px rgba(7, 118, 181, 0.4);
  margin-bottom: 12px;
  position: relative;
}
.tit {
  padding: 10px 10px 10px 25px;
  border-bottom: 1px solid rgba(7, 118, 181, 0.7);
  font-size: 16px;
  font-weight: 500;
  position: relative;
}
.tit:before,
.tit01:before {
  position: absolute;
  content: '';
  width: 6px;
  height: 6px;
  background: rgba(22, 214, 255, 0.9);
  box-shadow: 0 0 5px rgba(22, 214, 255, 0.9);
  border-radius: 10px;
  left: 10px;
  top: 18px;
}

.tit:after,
.box:before {
  width: 100%;
  height: 1px;
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  background: linear-gradient(to right, #076ead, #4ba6e0, #076ead);
  box-shadow: 0 0 5px rgba(131, 189, 227, 1);
  opacity: 0.6;
}
.box:before {
  top: -1px;
}

.boxnav {
  padding: 10px;
}
.nav2 {
}
.nav2 > li:first-child {
  border: none;
}
.nav2 > li {
  float: left;
  border-left: 1px solid rgba(7, 118, 181, 0.2);
  height: 240px;
  padding: 0 10px 10px 10px;
}
.tit01 {
  font-size: 16px;
  font-weight: 500;
  position: relative;
  padding-left: 15px;
}
.tit01:before {
  left: 3px;
  top: 8px;
}

.ftechart {
  height: 200px;
}

.table1 th {
  border-bottom: 1px solid #407abd;
  font-size: 14px;
  text-align: center;
  padding: 6px 0;
  /* color: rgba(255, 255, 255, 0.8); */
}
.table1 td {
  border-bottom: 1px dotted#407abd;
  font-size: 12px;
  padding: 6px 0;
  text-align: center;
  /* color: rgba(255, 255, 255, 0.6); */
}
.table1 tr:last-child td {
  border: none;
}
